.Nav .navLinks{
    display: flex;
    justify-content: center;
}

.Nav .navLinks *{
	margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    color:rgb(224, 122, 95);
    text-decoration-line: none;

}
