
<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
        width="40"
        alt="Angular Logo"
        src="../assets/images/final/dando.ico"
        class="banner-element"
    />
    
    <h1 class="banner-element title">דאן דו: הכוחות שבתוכנו</h1>
    
    <span class="banner-element contact">
        <p>054-483-3382</p>
        <p>almog.dando@gmail.com</p>
    </span>
</div>

<div class="content" role="main">

  <!-- images -->
  <div class="images">
    <img class="image" src="../assets/images/final/kids.jpg" alt="">
    <img class="image" src="../assets/images/final/outside.jpg" alt="">
    <img class="image" src="../assets/images/final/teenagers.jpg" alt="">
    <img class="image" src="../assets/images/final/chairs.jpg" alt="">
  </div>
  
  <!-- Seminar Buttons -->
  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
      <span>סדנא ארוכת טווח</span>
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        <span>סדנא קצרת טווח</span>
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
        <span>סדנא חד פעמית</span>
    </a>
  </div>

  <!-- Dan-Do Paragraph -->
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad qui sequi nemo assumenda facilis ducimus atque adipisci porro magni, perspiciatis ipsum illo fugit ex iusto beatae. Atque cupiditate quaerat cum architecto odit eum sequi libero totam esse nisi dicta, labore repudiandae quo. Doloremque ducimus culpa, aperiam consequuntur eveniet id atque fuga. Quibusdam odio nihil eaque eos est. Aliquid consequuntur perferendis quas ullam repellat odit reprehenderit quos. Explicabo, deserunt magni nesciunt numquam sed accusamus voluptatibus non repudiandae dolor libero voluptatum quo quia, quas unde repellendus culpa saepe placeat cupiditate obcaecati maiores! Repellendus consequatur, quis at voluptatibus nam laudantium quae necessitatibus iste?
    </p>
  
  <p>
    MSW B.Ed בהנחיית אלמוג ירקוני
  </p>

  <img class="almog-pic" src="../assets/images/final/almog.jpg" alt="">

  <!-- images -->
  <div class="images">
    <img class="image" src="../assets/images/final/with penitents/harry-potter.jpg" alt="">
    <img class="image" src="../assets/images/final/with penitents/purim.jpg" alt="">
    <img class="image" src="../assets/images/final/with penitents/teenagers.jpg" alt="">
    <img class="image" src="../assets/images/final/with penitents/with-penitents-kick.jpg" alt="">
  </div>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolorum voluptatem vel dolore quos odit explicabo soluta suscipit itaque at obcaecati fuga, reprehenderit error dicta autem non, nisi exercitationem. Tenetur, deleniti nemo harum aut vel libero in id iusto accusamus veritatis maiores ducimus architecto, ad maxime, quisquam earum. Rem, maxime! Nostrum facilis asperiores nesciunt quo in beatae officiis aut reiciendis perspiciatis! Aspernatur mollitia facere, blanditiis cupiditate rem quibusdam? Provident, eum quaerat. Ab quisquam praesentium vel tempore voluptas dolores cumque, accusamus error ut voluptatibus consequatur dignissimos unde odio, aut quasi laudantium, velit nulla porro similique enim! Perferendis laudantium veritatis dignissimos corrupti?
  </p>

  <p>
    *הסדנא נבנית ומותאמת לאוכלוסית היעד הספציפית. הן החלק השיחתי והן החלק הפיזי יותאמו לסוג האוכלוסיה ולצרכים הספציפיים שעולים מהשטח, לכן סדנא עבור בני נוער תהיה שונה מסדנא עבר ילדים.
  </p>
</div>

<router-outlet></router-outlet>
