.toolbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    max-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-chambray-blue);
    color: var(--color-silver);
    box-shadow: var(--picture-shadow);
    
    .contact {
        align-items: center;
        padding: var(--padding);
        >*{
            text-align: center;
            font-weight: var(--fw-regular);
        }
    }

    >img {
        margin: 0 16px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    >p {
        padding: 0 15rem;
        margin: var(--margin);
        font-size: var(--fs-600);
        direction: rtl;

        &.ps {
            font-size: var(--fs-400);
            color: var(--color-racing-red);
        }
    }
    .images{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        align-content: space-between;
        margin: var(--margin);    
    }

    img {
        border-radius: var(--border-radius);
        margin: var(--image-margin);
        box-shadow: var(--picture-shadow);

        &.biz-image {
            max-width: var(--image-size);
            border-radius: 1rem;
            margin: var(--image-margin);
        }
    
        &.almog-pic{
            max-width: calc(var(--image-size) * 0.75 );
            box-shadow: var(--picture-shadow);
        }
    }
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--margin);
}

.card {
    --_shadow: var(--shadow, black);
    --_primary: var(--primary, black);
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    font-size: var(--fs-500);
    font-weight: var(--fw-regular);
    height: var(--card-height);
    width: var(--card-width);
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    box-shadow: 0 0.5rem var(--_shadow);
    
    & svg{
        margin-left: 1rem;
        width: 4rem;
        height: fit-content;
        stroke:var(--_primary);
    }
}

.card-container .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}